/* -------- Fonts -------- */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

/* -------- Basic CSS -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
}

a {
    color: black;
    text-decoration: none;
  }

img {
    width: 100%;
}

li {
    list-style-type: none;
}

/* -------- Navbar -------- */

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.navbar {
    background-color: rgba(22, 22, 22, 0.73);
    height: 80px;
    padding: 0 30px;
}

.navbar .logo {
  font-size: 60px;
  font-family: 'Inspiration', sans-serif;
  color: white;
  margin: 10px 0; /* This is making a line above - will fix it*/
  line-height: 1.2;
}

.navbar .logo:hover {
    color: #ffffff;
    transition: 0.2s ease-in-out;
    border-right: 5px dotted rgb(255, 255, 255);
    padding-right: 20px;
}

/* Used flex to put links on the right side of the navbar with space-between */
.navbar .flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar .nav-links {
    color: white;
    padding: 9px;
    margin: 0 10px;
    font-size: 18px;
  }

.navbar .nav-links:hover {
    color: #ffffff;
    transition: 0.2s ease-in-out;
    border-top: 5px dotted rgb(255, 255, 255);
    border-radius: 0.3px;
  }

/* -------- Landing/Home  -------- */

.landing-page {
    height: 300px;
    background-color: rgba(22, 22, 22, 0.73);
} 

.landing-page img {
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
    border-radius: 25px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
  }

  .grid-1,
  .grid-2 {
      position: relative;
      top: 100px;
      font-family: 'Vujahday Script', cursive;
  }

  .grid-1 h1 {
      font-size: 58px;
  }

  .grid-1 p {
      font-size: 45px;
  }

 /* -------- About  -------- */
.about {
    margin-top: 600px;
}

.details {
    padding-top: 50px;
    text-align: center;
}

.details p {
    font-size: 1.2em;
    padding: 30px 30px;
    text-align: center;
}

.about-title {
    font-family: 'Vujahday Script', cursive;
    font-size: 45px;
    text-align: center;
    padding: 20px;
}

.about-grid {
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: column;
    gap: 0.9em;
}

.about-grid img {
    width: 70px;
    height: 70px;
}


 /* -------- gallery -------- */

.section-title{
    text-align: center;
    font-family: 'Vujahday Script', cursive;
    padding: 60px 0px 30px;
    font-size: 3.2em;
    font-weight: 500;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.gallery p {
    font-family: 'Inspiration', sans-serif;
    font-size: 60px;
    font-weight: 500;
}

.gallery img {
    border-radius: 20px;
}


 /* -------- Contact and Form -------- */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.btn{
    padding: 20px;
    border: none;
    border-radius: 50px;
    font-family: 'Vujahday Script', cursive;
    font-size: 20px;
}

.btn:hover {
    background-color: rgba(107, 106, 106, 0.73);
    color: white;
    transition: 0.3s cubic-bezier(.6,-0.28,.74,.05);
}

.btn a:hover {
    color: white;
}

  /* ------ Contact section  ------ */
  
  .contact_section{
    background: url(../images/message.jpeg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  
  .contact_section h1{
    text-align: center;
    color: #6b6a6aba;
  }
  
  .contact_form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact_form_text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    border: 0;
    background: rgba(129, 127, 127, 0.096);
    padding: 30px 40px;
    outline: none;
    color: #585858;
    font-size: 20px;
    text-align: right;
    transition: 0.5s;
    font-weight: 900;
    border-radius: 20px;
  }

  .contact_form_text::placeholder {
    text-shadow: 1px 1px #000;
  }

    .contact_section_title{
    padding-top: 1em;
    text-shadow: 1px 2px black;
    text-align: center;
    font-size: 50px;
    color:#4d4b4b;
    font-family: 'Vujahday Script', cursive;
  }
  
  .contact_form_text:focus{
    box-shadow: 0 0 10px 4px #6b6a6aba;
    border-radius: 40px;
  }

  textarea.contact_form_text{
    resize: none;
    height: 140px;
  }

  .contact_form_btn{
  font-size: 18px;
  color: #ffffff;
  background: #6b6a6aba;
  border: none;
  padding: 14px 30px;
  margin-top: 20px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  }

  .contact_form-btn:hover {
    transition: 0.5s ease-in-out;
    background: rgb(180, 176, 176);
    color: #dce2e9;
    cursor: pointer;
  }

 /* -------- social links -------- */

 .footer-container {
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 20px;
 }

 .social-links i {
     color: white;
 }

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    cursor: pointer;
    padding: 30px;
    font-size: 2em;
    margin-top: 2em;
    height: 120px;
    background-color: rgba(107, 106, 106, 0.73);
}

.social-links i:hover {
    color: rgba(68, 68, 68, 0.404);
    transition: 0.12s ease-in-out;
    border-top: 5px dotted rgb(255, 255, 255);
    border-radius: 0.3px;
    padding-top: 3px;
}

/* -------- Media Q  -------- */


@media (max-width: 1100px) {
    .grid {
        grid-template-columns:  1fr;
    }

    .grid-1 {
        padding: 30px;
    }

    .landing-page {
        height: 500px;
    }
    
    .grid .image-field {
        padding: 10px;
        width: 50%;
    }
    
    .navbar .nav-links {
        color: white;
        padding: 9px;
        margin: 0 10px;
        font-size: 18px;
      }

    .about {
        margin-top: 60%;
    }

    .about-grid {
        grid-auto-flow: row;
    }

    .about-title{
        font-size: 2em;
    }

    .gallery {
        grid-template-columns: 9fr;
        padding: 30px;
        gap: 2em;
    }

    .gallery img {
        border-radius: 40px;
    }

    .gallery-title{
        font-size: 45px;
        font-weight: 500;
        word-break: keep-all;
    }

    .gallery p {
        font-size: 50px;
    }
}

@media (max-width: 620px) {
    .navbar .flex-nav {
        flex-direction: column;
        gap: 2.2em;
    }

    .navbar .logo:hover {
        border: none;
        padding: 0;
        color: #868686;
    }

    .navbar .nav-links:hover {
        color: #868686;
        border-top: 0;
    }

    .gallery-title{
        font-size: 45px;
        font-weight: 500;
        word-break: keep-all;
    }

    .grid .image-field {
        width: 50%;
        display: grid;
        justify-items: right;
    }
    .navnav{
        height: 200px;
    }
    .navnav ul {
        padding-bottom: 40px;
    }
}


@media (max-width: 520px) {
    .gallery-title{
        font-size: 45px;
        font-weight: 500;
        word-break: keep-all;
    }
}