@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

/* -------- Basic CSS -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
}

a {
    color: black;
    text-decoration: none;
  }

img {
    width: 100%;
}

li {
    list-style-type: none;
}

/* -------- Navbar -------- */

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.navbar {
    background-color: rgba(22, 22, 22, 0.73);
    height: 80px;
    padding: 0 30px;
}

.navbar .logo {
  font-size: 50px;
  font-family: 'Inspiration', sans-serif;
  color: white;
  margin: 10px 0; /* This is making a line above - will fix it*/
  line-height: 1.2;
}

.navbar .logo:hover {
    color: #ffffff;
    transition: 0.2s ease-in-out;
    border-right: 5px dotted rgb(255, 255, 255);
    padding-right: 20px;
}

/* Used flex to put links on the right side of the navbar with space-between */
.navbar .flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar .nav-links {
    color: white;
    padding: 9px;
    margin: 0 10px;
  }

.navbar .nav-links:hover {
    color: #ffffff;
    transition: 0.2s ease-in-out;
    border-top: 5px dotted rgb(255, 255, 255);
    border-radius: 0.3px;
  }

/* -------- Landing/Home  -------- */

.landing-page {
    height: 300px;
    background-color: rgba(22, 22, 22, 0.73);
} 

.landing-page img {
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
    border-radius: 25px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
    color: white;
  }

  .grid-1,
  .grid-2 {
      position: relative;
      top: 100px;
      font-family: 'Vujahday Script', cursive;
  }

  .grid-1 h1 {
      font-size: 58px;
  }

  .grid-1 p {
      font-size: 45px;
  }

 /* -------- About  -------- */
.about {
    margin-top: 600px;
}

.about-title {
    font-family: 'Vujahday Script', cursive;
    font-size: 45px;
}

.about-grid {
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.about-grid img {
    width: 70px;
    height: 70px;
}


 /* -------- gallery -------- */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}



 /* -------- social links -------- */

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    cursor: pointer;
    padding: 20px;
    font-size: 2em;
}

/* -------- Media Q  -------- */
@media (max-width: 700px) {
    .about-grid {
        grid-auto-flow: row;
    }

    .gallery {
        grid-template-columns: 9fr;
        padding: 30px;
        gap: 2em;
    }
}
